<#import "../layout/scrollLayout.ftl.html" as layout> <@layout.myLayout>
<div class="scrollContent">
        <div id=quote><q>The sea, <br>once it casts its spell,<br> holds one in its net of wonder forever.</q> <br>
        <div class=name>Jacques Yves Cousteau</div></div>
            <div id="titlechart">
                <img src="/assets/img/background2.jpg" class="frontPageImg">
                <script>
                    var controller;
                    $(document).ready(function($) {
                        // init controller
                        controller = new ScrollMagic();

                        // build tween
                        var tween = TweenMax.fromTo(".frontPageImg", 0.5,
                                {},
                                {scale: 1.5}
                        );
                        var tween2 = TweenMax.to(".frontPageImg", 0.5, {opacity:0.3});
                        new ScrollScene({
                            triggerElement: "#titlechart",
                            duration: 600,
                            offset: 300})
                                .setTween(tween)
                                .addTo(controller);

                        new ScrollScene({
                            triggerElement: "#trigger1",
                            offset: -600})
                                .setPin("#titlechart")
                                .addTo(controller);
                                //.addIndicators();

                        new ScrollScene({
                            triggerElement: "#trigger1",
                            offset: -600})
                                .setTween(tween2)
                                .addTo(controller);
                    });
                </script>

            </div>
            <section>
                <div id="trigger1" class="spacer s0"></div>

                <div id="previewContainer" class='container'>
                                    
                    <div onClick="loadGallery(1);" class="container box" style="background: url(/assets/img/Flag_of_Egypt.svg);background-size: 100%;"></div>
                    <div onClick="loadGallery(2);" class="container box" style="background: url(/assets/img/Flag_of_Norway.svg);background-size: 100%;"></div>
                    <div onClick="loadGallery(3);" class="container box" style="background: url(/assets/img/Flag_of_Iceland.svg);background-size: 100%;"></div>
                </div>
                <div id="trigger2" class="spacer s1"></div>

                <script>
                    $(document).ready(function($) {
                        new ScrollScene({triggerElement: "#trigger2", duration: 150})
                                .setPin("#previewContainer")
                                .addTo(controller);
                                //.addIndicators(); // show indicators (requires debug extension)
                    });
                    
                </script>
            </section>

            <div class="spacer s_viewport"></div>
        </div>
</@layout.myLayout>